header {
    padding: 10px;
    box-sizing: border-box;
    font-family: "Righteous", "sans-serif";
    text-align: center;
}
body {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

footer p, footer a {
    text-decoration: none;
    font-family: "Open Sans", "sans-serif";
    text-align: center;
}

footer a {
    color: #ffd300;
}
main {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: block;
}

.option {
    width: 33.333333332%;
    display: inline-block;
    margin: 0 auto;
    float: left;
}

.option button {
    width: 80%;
    height: 40px;
    margin: 25px auto;
    display: block;
}
.option h1 {
    text-align: center;
    height: 40px;
}

button {
    background-color: black;
    border-radius: 0;
    border: none;
    color: white;
    font-family: "Righteous", "sans-serif";
    font-size: 20px;
    letter-spacing: 0.04em;
}

#jsOutput {
    font-family: "Righteous", "sans-serif";
    text-align: center;
    text-transform: capitalize;
    line-height: 100px;
    padding: 0;
    margin: 0;
}
#alert {
    position: absolute;
    background-color: #ffd300;
    max-width: 350px;
    width: 100%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
    border: 9px solid black;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.computer {
    float: right;
}

#runProgram {
    text-decoration: none;
    color: black;
    font-family: "Righteous", "sans-serif";
    text-align: center;
    margin-top: 15px;
    display: block;
}

